* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  width: 825px;
  margin: 50px auto;
  border: 4px solid black;
}

h2,
h3,
button,
.shipping {
  text-transform: uppercase;
}

h2 {
  font-size: 22px;
  text-align: center;
  background-color: #f7f7f7;
  padding-top: 15px;
  padding-bottom: 15px;
}

h3 {
  margin-bottom: 15px;
  margin-top: 30px;
}

a:link {
  color: black;
}

a:hover,
a:active,
a:visited {
  text-decoration: none;
}

li {
  list-style: square;
  margin-left: 20px;
  margin-bottom: 10px;
}

button {
  background-color: black;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

button:hover {
  color: black;
  background-color: white;
  border-top: 4px solid black;
}

.price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
}
